/* dash-offset equals 2*PI*radius */
circle.outerCircle{
  stroke:#379e90;
  stroke-width: 7.5;
  fill: none;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  stroke-dasharray: 471;
  animation-name: rotate;
  animation-direction:reverse;
  animation-timing-function:cubic-bezier(.62,.06,.36,.94); 
}

@keyframes rotate{
  0%{
    stroke-dashoffset:471;
  }
  50%{
    stroke-dashoffset:0;
  }
  100%{
    stroke-dashoffset:-471;
  }
}
