body {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 12pt;
  background: #f4f6f8;
}

.hidden {
  display:none;
}

h1 {
  text-align:center;
  font-size:larger;
}

table {
  width:100%;
  border-collapse: collapse;
}

input, textarea {
  width:100%;
  margin-bottom:2px;
  border:1px solid #ccc;
  transition: width 0.2s ease;
}

input.expanded {
  width: 100vw;
}

th {
  position: sticky;
  top:0;
  background:#1976D2;
  color:white;
  padding:4px;
}

td {
  padding:2px;
}

td input {
  padding:2px;
}

button {
  border:none;
  border-radius:8px;
  background:#1976D2;
  color:white;
}

button:disabled {
  background: silver;
}

.dangerous {
  background:#B00000;
}

.trash-can {
  padding:0;
  margin-top: -5px;
  float:right;
  padding: 0 5px 0 5px;
}

#addPageButton {
  padding: 5px 10px 5px 10px;
  font-size:larger;
  float:right;
}

.uploadBar {
  margin-top:8px;
}

.fullWidthButton {
  width: 100%;
  padding:14px;
  font-weight: bold;
  font-size:larger;
  margin-right:10px;
}

#uploadTargetSelect {
  width: 100%;
}

button.secondary {
  background:#555;
}

.list-item {
  background:#fff;
  padding:8px;
  margin-bottom:5px;
  border-radius:6px;
  font-size:smaller;
}

/* Hide the spin buttons on numeric inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

